[data-tab-content] {
    display: none;
  }
  
  .active[data-tab-content] {
    display: block;
  }
  
  
  .tabs {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    margin-bottom: 1rem;
  }
  
  .tab {
    cursor: pointer;
    padding: 10px;
    border: 1px solid transparent;
    transition: border .2s ease;
    text-align: center;
   
  }
  
  .tab.active {
   border-bottom: 1px solid var(--accent-orange-color);
   
  }
  
  .tab:hover {
    border-bottom: 1px solid var(--accent-orange-color);
  }
  
  .tab-content {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  
  .tab-items{
    gap: 20px;
    padding: 1rem;
    min-height: 330px !important;
  }
  
  .tab-item {
    width: 100%;
    max-width: 335px;
    margin-top: 2rem;
  }
  
  
  
  
  